<div class="search-bar-container mt-5">
      <%= form_with url: root_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2",
            placeholder: "Type a keyword"
        %>
      <%= button_tag(type: 'submit') do %>
      <i class='fas fa-search'></i>
      <% end %>
    <% end %>
</div>

<div class="filter-bar p-5">
    <%= link_to root_path(params: { genre: 'Action' }), class: "filter-btn" do %>
      <p><i class="fas fa-fist-raised"></i>  Action</p>
    <% end %>
    <%= link_to root_path(params: { genre: 'Fantasy' }), class: "filter-btn" do %>
      <p><i class="fas fa-magic"></i>  Fantasy</p>
    <% end %>
    <%= link_to root_path(params: { genre: 'Horror' }), class: "filter-btn" do %>
      <p><i class="fas fa-ghost"></i>  Horror</p>
    <% end %>
    <%= link_to root_path(params: { genre: 'Comedy' }), class: "filter-btn" do %>
      <p><i class="fas fa-laugh"></i>  Comedy</p>
    <% end %>
    <%= link_to root_path(params: { genre: 'Sci-Fi' }), class: "filter-btn" do %>
      <p><i class="fas fa-rocket"></i>  Sci-Fi</p>
    <% end %>
    <%= link_to root_path(params: { genre: 'Thriller' }), class: "filter-btn" do %>
      <p><i class="fas fa-skull-crossbones"></i>  Thriller</p>
    <% end %>
</div>

<div class="container">
  <div class="movie-cards">
    <div class="movies-grid">
      <% @movies.each do |movie| %>
        <div class="card-movie-container">
          <%= link_to movie_path(movie), class: 'card-movie-link' do %>
            <div class="card-movie">
              <div class="card-movie-image">
              <%= image_tag movie.poster_url, class: 'img-poster' %>
            </div>


            <div class="movie-header-content">
              <p class="movie-title"><%= movie.title %></p>
              <%# <p class="movie-rating"><%= movie.rating <i class="fa-solid fa-star" style="color: #FFD43B;"></i></p> %>
              <%# <p class="overflow-ellipsis"><%= movie.review</p> %>
            </div>


            <%# <div class="show-delete">
            <%= link_to "See more", movie_path(movie),class: "btn btn-see-more" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
