<h1 class="h1creat" data-controller="background"><%= "YOUR VHS" %></h1>

<div class="new-movie-container" data-controller="price" >
  <%= simple_form_for @movie do |f| %>
    <div class="new-form-imput">
      <%= f.input :title %>
      <%= f.input :poster_url %>
      <%= f.input :director %>
      <%= f.input :actors %>
      <%= f.input :genre %>
      <%= f.input :year %>
      <%= f.input :rating %>

      <%= f.input :quality, collection: ['very good', 'good', 'average', 'poor'], as: :select %>

      <%= f.input :review %>
      <div class="form-price" >
      <%= f.input :price, as: :range, input_html: { min: 0, max: 20, value: @movie.price || 0, id: 'priceRange'} %>
      <span id="priceValue"><%= @movie.price || 0 %> €</span>
     </div>
     <div class="form-new-submit" >
      <%= f.submit "SUBMIT", class: "btn-newmovie" %>
      </div>
    </div>
  <% end %>
</div>
