<div class="container-show">

	<div class="movie-poster">
		<%= image_tag @movie.poster_url, class:"poster" %>
	</div>

	<div class="infos">
		<div class="movie-infos">
			<h2 class="movie-title"><%= @movie.title %></h2>
			<div class="year-genre">
				<p><strong>Release year: </strong><%= @movie.year %></p>
				<p><strong>Genre: </strong><%= @movie.genre %></p>
			</div>
			<div class="movie-crew">
				<p><strong>Directed by: </strong> <%= @movie.director %></p>
				<p><strong>With: </strong> <%=  @movie.actors %></p>
			</div>
			<p class="rating"><strong>IMDB Rating: </strong><%= @movie.rating %> <i class="fa-solid fa-star"></i></p>
		</div>

		<div class="owner-infos">
			<p><strong>Owner: </strong> <%= @movie.user.email %></p>
			<p><em><%= @movie.user.email %>'s review:</em> <i class="fa-solid fa-quote-left quotation"></i> <%= @movie.review %></p>
		</div>

		<div class="schedule">
			<%= render "bookings/form", movie: @movie, booking: @booking %>
		</div>
	</div>

	<div class="map">
	</div>

</div>

