<div class="container-booking-form" >
  <H2><%= movie.price %> dollars a day (<%= movie.quality %> VHS quality)</H2>
    <div class="form-booking" >
      <%= simple_form_for [@movie, @booking ] do |f| %>
        <%= f.input :date_start,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

      <%= f.input :date_end,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <%= f.submit %>
          <% end %>
    </div>
    <div class="p-form-total" >
      <p>Total: <%= movie.price %></p>
    </div>
</div>
