<h1> My profil </h1>

<h2>Available movies</h2>
<ul>
  <% current_user.movies.each do |movie| %>
    <% if movie.bookings.size == 0 %>
      <li><%= movie.title %> - <%= movie.year %> - <%= movie.genre %></li>
    <% end %>
  <% end %>
</ul>

<h2>Booking renting</h2>
<ul>
  <% current_user.movies.each do |movie| %>
    <% if movie.bookings.size > 0 %>
      <li><%= movie.title %> - rented from <%= movie.bookings.last.date_start %> to <%= movie.bookings.last.date_end %></li>
    <% end %>
  <% end %>
</ul>

<h2>current renting</h2>
<ul>
  <% current_user.bookings.each do |booking| %>
    <li><%= booking.movie.title %> - rented <%= booking.date_start %> to <%= booking.date_end %></li>
  <% end %>
</ul>
