



  <nav class="d-flex justify-content-between align-items-center" style="background-color: black;box-shadow: grey 0 2px 5px;">
  <div class="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
  </div>

  <div class="nav ul li">
    <div class="menu">
      <%= link_to root_path do %>
        <img class="logo-picture" src="<%= image_path('icons8-vhs-100.png') %>" alt="Logo VHS"/>
      <% end %>
    </div>
  </div>


  <div class="hero-container">
  
      <h2 class="hero glitch layers m-0" data-text="VHS Vault"><span>VHS Vault</span></h2>
  </div>


  <div class="menu">
    <ul>
      <%= link_to new_movie_path, class: "filter-btn" do %>
      <p> Rent my VHS </p>
      <% end %>
      <li class="nav-item dropdown">
        <i
          class="fa-regular fa-user dropdown-toggle"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
          data-bs-haspopup="true"
          data-bs-expanded="false">
        </i>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Dashboard", dashboard_index_path, class: "dropdown-item" %>
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>


